<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thetttecommunity.thetttecommunitycompan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--This meta-data tag is required to use Google Play Services.-->
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity
            android:name=".homepage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutUs"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_about_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SocialMedaPage"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_social_meda_page"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".loadingscreenofquiz"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_loadingscreenofquiz"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".quizscreen"
            android:screenOrientation="portrait"
            android:label="@string/quiz_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResultsActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_results"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QuizCredits"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_quiz_credits"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".contactus_page"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_contact_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tutorials"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_tutorials"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
